[tool.poetry.dependencies]
fastapi = "^0.110.2"
uvicorn = {extras = ["standard"], version = "^0.29.0"}
pydantic = {extras = ["email"], version = "^2.7.1"}
{% if use_versionizer -%}
fastapi-versionizer = "^4.0.1"
{% endif -%}

[tool.poe.tasks]

    [tool.poe.tasks.dev]
    help = "Start the development server"
    cmd = "uvicorn {{ package_import_name }}.main:app --reload"